.megatag-remove{
	cursor: pointer; cursor: hand;
}
.megatag-main{
	min-width:10px;
}
.megatag-input{
	background-color: transparent;
    border: 0px solid;
	outline: none!important;
}
.megatag-tag{
	margin-right:6px;
}

#megatag_template_tag, #megatag_template_wrap{
	visibility:hidden;
	position:fixed;
	bottom:0px;
}

.tt-menu{
	background-color: white;
	margin-left: -5px;
	border-left: solid #ddd 1px;
	border-bottom: solid #ddd 1px;
	border-right: solid #ddd 1px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	border-radius: 4px;
}
